<%- include profile.ejs %>
<div class="ui  inverted  top attached  menu">

    <a href="#" class="header item">
        <img class="logo" style="padding-right:10px;" src="images/books-stack-of-three (1).png">
        OneStudy
    </a>


    <div id="classes" class="ui item dropdown">
        <div class="text">Course CS6460</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">Course CS6460</div>
            <div class="item">Course CS6035</div>
            <div class="item">Course CS6601</div>
        </div>
    </div>

    <div class="right menu" >
        <a  target="_blank" href="https://www.udacity.com/wiki/Educational_Technology" id="library" class="item">Course Library</a>

        <a href="#" id="syllabus" class="item">Syllabus</a>
        <div class="ui dropdown icon item"  id="menu">
            <i class="user circle outline icon" > Account</i>
            <div class="menu">
                <div class="item"> Preferences</div>
                <div class="item">Settings</div>
                <div class="item" id="profileButton">Profile</div>
                <div class="divider"></div>
                <div class="item" id="logout" >Logout
                </div>
               
            </div>
        </div>
    </div>

</div>



<div class="ui  main text segment" style="padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">
    <div class="ui aligned ">
        <div class="ui  grid">

            <div class=" row" style="height:100vh; ">
                <div id="forumComments" class="ui disabled reveal six wide column" >
                   
                        <div id="ForumFeed" class="visible ">
                            <div class="ui secondary pointing  menu" >
                                <div class="header item">Class Discussion</div>
                                <div class="right menu" >

                                    <div class="item" ><div class="ui transparent icon input"  data-tooltip="Filter Posts">
                                        <i class="filter link icon"></i></div>
                                    </div>
                                    <div class="item"><div class="ui transparent icon input" data-tooltip="Search">
                                        <i class="search link icon"  ></i></div>
                                    </div>
                                    <div class="item"><div class="ui transparent icon input"  data-tooltip="New Post">
                                        <i class="edit link icon" id="newPostButton"></i></div>
                                    </div>


                                </div>
                            </div>
                            <div class="ui "   style="height:85vh; overflow:scroll; padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">

                                <div class="ui feed"  id="forumFeed"  style=" padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">


                                </div>
                            </div>

                        </div>
                        
                        <div id="forumComments" class="hidden ">
                            <div class="ui secondary pointing  menu" >
                                 <a class="item" id="furombackbutton">
                                    <i class="chevron circle left icon"></i>
                                    Back
                                  </a>
                                <div class="right menu" >
                                    <a class="item" id="newCommentButton">
                                        <i class="edit link icon" ></i>
                                      Comment
                                    </a>
<!--
                                     <div class="item"><div class="ui transparent icon input"  data-tooltip="New Post">
                                        <i class="edit link icon" id="newCommentButton"></i></div>
                                    </div>
-->
                                </div>
                            </div>
                             <div class="ui "   style="height:85vh; overflow:scroll; padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">

                                <div id="ThreadComment" class="ui feed"    style=" padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">


                                 </div></div>
                        </div>
                  
                </div>


                <div class="ten wide column">

                    <div style="margin:0px;height:25px;" class="ui secondary  menu">
                        <div class="menu"  style="height:25px;">
                            <div class="header item">15 Participants</div>
                        </div>
                        <div class="right menu" style="height:25px;">
                            <div id="lessons" class="ui item dropdown">
                                <div class="text">Lesson 1</div>
                                <i class="dropdown icon"></i>
                                <div class="menu" id="classLessons">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui center aligned grid" style="margin-right:5px;margin-left:5px; background-color:black;">
                        <div id="videoPlayerContainer" class="ten wide column " style="padding:0px;">
                            <div id="videoPlayer" class="ui  embed"  ></div>

                        </div>
                    </div>
                    <div class="ui center aligned grid" style="padding-top:0px; margin-top:0px;">

                        <div class="eight wide column ">

                            <div class="ui secondary pointing menu stackable">
                                <div class="ui one column stackable grid container"  style="margin:0;padding:0px;">

                                    <div class="ui  item sixteen wide column" style="margin:0;padding:0px;">
                                        <div class="ui icon input" style="margin:0;padding:0px;">
                                            <input id="message" class="prompt" type="text">
                                            <i id="SendMessage" class="level down link icon"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="chatFeed" class="ui feed" style="line-height:1em; height:100vh; overflow:scroll; padding:0px; margin:0px;">
                                
                                <div class="event">
                                    <div class="label" style="width:30px;">
                                        <img style="background-color:#009B77;" width="20px" style="width:20px; height:20px;" class="ui avatar image" src="images/profile/37.png">
                                    </div>
                                    <div class="content" style="padding:0px; padding-left:8px; margin:0px;">

                                        <div class="summary">
                                            <a style="margin:0px;padding:0px;" class="label">Max</a><div class="date">
                                            3 days ago
                                            </div>
                                            <span style="margin:0px;padding:0px;" class="meta">I really found this lesson helpful. What about you guys?</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="eight wide column">
                            <div class="ui secondary pointing  menu stackable" >
                                <div class="header item">Lesson Questions</div>
                                <div class="right menu" >

                                    <div class="ui icon transparent item">
                                        <i class="search link icon"   data-content="Search"></i>
                                    </div>
                                    <div class="ui icon transparent item" >
                                        <i class="edit link icon" data-content="New Question"></i>
                                    </div>


                                </div>
                            </div>
                            <div id="LessonQuestionFeed" class="ui feed" style="line-height:1em; height:100vh; overflow:scroll; padding:0px; margin:0px;">
                               
                                
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="syllabusPopup" class="ui longer  fullscreen modal custom">
    <i class="close icon"></i>

    <div class="ui scrolling embed" data-url="http://omscs6460.gatech.edu/fall-2017/" data-icon="right circle arrow">
    </div>
</div>
<div id="profileCard" class="ui custom popup top left transition hidden" style="top: auto; left: 1px; bottom: 69px; right: auto; width: 735.714px;">

<div class="card">
    <div class="image">
      <img src="images/profile/37.png">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>
</div>  

<script>
threads ={};
    
var baseURL ='http://18.220.241.62:1337';
//var baseURL ='http://localhost:1337';
            function addFoundHelpful(threadID){
                 var url1 = baseURL+"/addFoundHelpful" // the script where you handle the form input.

                
                    $.ajax({
                        type: "POST",
                        url: url1,
                        data: 'threadID='+threadID, // serializes the form's elements.
                        success: function(data)
                        {
                        
                            
                        }
                    });
            }
    
            function setupLessonQuestions(itemName){
                
                var url1 = baseURL+"/findQuestions" // the script where you handle the form input.

                
                    $.ajax({
                        type: "POST",
                        url: url1,
                        data: 'item='+itemName, // serializes the form's elements.
                        success: function(data)
                        {
                            var questions = JSON.parse(data);
                            $("#LessonQuestionFeed").html('');
                            
                            if( $.isArray(questions)){
                                
                                for(var i=1; i<=questions.length;i++){
                                    var question = questions[i-1];
    //                                threads["thread"+thread.id]=thread;
                                    
                                    addQuestion(question);
                                }
                            }
                            
                        }
                    });
              
            }
            function addQuestion( question){
                 $("#LessonQuestionFeed").prepend(' <div class="event"><div class="content"><div class="summary meta" style="padding:0px;margin:0px; width:100%">'+question.summary+'<br/></div><div class=" meta"><span class=""><i class="comments icon"></i>'+question.comments.length+' Comments</span><span class=""><i class="star icon"></i> '+question.foundHelpful+' found this helpful</span></div></div></div><div class="ui inverted divider" style="padding:0px;margin:0px;"></div>');
            }
            function setupThreadComments(threadID){
                var thread = threads[threadID];
                var userProfile = thread.profile;
                var id= threadID.slice(6);
                $("#thread").val(id);
               $("#profile").val(userProfile.id);
                getThreadComments(id)
                $("#ThreadComment").html(
                            '<div id="thread'+thread.id+'" class="event clickEvent" style="border-bottom:1px black;"><div class="label"><img style="background-color:#009B77;" class="ui showProfile avatar image" src="images/profile/'+userProfile.profilePic+'.png"></div><div class="content" style=""><div class="date">'+thread.datePosted+'</div><div class="summary" style="padding-bottom:3px;"><a class="showProfile">'+userProfile.firstName+' '+userProfile.lastName+'</a> <div class="meta" ><a id="StudentStatus" class="comment date StudentStatus'+userProfile.id+'"><i style="height:10px; width:10px; border-radius: 50%; background-color:green;" class="icon"></i>'+userProfile.status+'</a></div></div><div class="text">'+thread.summary+'</div><div class="meta"><span class=""><i class="comments icon"></i> '+thread.comments.length+' Comments</span><span class=""><i class="star icon"></i> '+thread.foundHelpful+' found this helpful</span></div></div></div><div class="ui inverted divider" style="padding:0px;margin:0px;"></div> '
                        );
                toggleForum();
            }
                function toggleForum(){
                    $('#ForumFeed').transition('fly right');
                }
            function getThreadComments(threadID){
                var url1 = baseURL+"/getThreadComments" // the script where you handle the form input.

                
                    $.ajax({
                        type: "POST",
                        url: url1,
                        data: 'threadID='+threadID, // serializes the form's elements.
                        success: function(data)
                        {
                            var comments = JSON.parse(data);
                            
                            if( $.isArray(comments)){
                                
                                for(var i=1; i<=comments.length;i++){
                                    var comment = comments[i-1];
    //                                threads["thread"+thread.id]=thread;
                                    
                                    addComment(comment);
                                }
                            }
                            
                        }
                    });
            }
            function addComment(comment){
                
                var profile = comment.profile;
                 $("#ThreadComment").append(
                '<div class="event"><div class="label" style="width:30px;">  <img style="background-color:#009B77;" width="20px" style="width:20px; height:20px;" class="ui avatar image" src="images/profile/'+profile.profilePic+'.png"></div> <div class="content" style="padding:0px; padding-left:8px; margin:0px;"> <div class="summary"><a style="margin:0px;padding:0px;" class="label showProfile">'+profile.firstName+' '+profile.lastName+'</a><div class="date"> '+comment.datePosted+' </div><br/> <span style="margin:0px;padding:0px;" class="meta">'+comment.text+' </span> </div></div></div>');
            }


            $(function() {
                           
                 
                io.socket.post('/subscribe', function (resData, jwRes) {
                    
                });
                io.socket.on('message', function (data){
                    $("#chatFeed").prepend('<div class="event"><div class="label" style="width:30px;"><img style="background-color:#009B77;" width="20px" style="width:20px; height:20px;" class="ui avatar image" src="images/profile/'+data.pic+'.png"></div><div class="content" style="padding:0px; padding-left:8px; margin:0px;"><div class="summary"><a style="margin:0px;padding:0px;" class="label showProfile">'+data.name+'</a><div class="date">'+data.posted+'</div><br/><span style="margin:0px;padding:0px;" class="meta">'+data.text+' </span></div></div></div>');
                  
                });
                var vidsNum=12;
                var lesson1Vids= 'WxYy9A20c54,wnCSVssDPv8,mkYEVWZ6tYI,vWNnOnzpxbo,6IVOnxiYhYs,50a0Ai2RXgU,M9Bvrtknm_4,SNJj8B0mGhU,KCcc6oqx6qk,H0d2OHt65OU,CzFXhfRU9L8,VK5b5ZQEI7M';
                var vids = lesson1Vids.split(',');
                for(var i = 1; i <= vids.length; i++) {
                    var l = i-1;
                    $('#classLessons').append('<div id="Lesson '+i+','+vids[l]+'" class="item lessonVideos udpateStatus" >Lesson'+i+'</div>');
                }
                setupLessonQuestions('Lesson 1');
                $('#videoPlayerContainer').html('<div id="videoPlayer" class="ui embed"></div>')
                $('#videoPlayer').embed({
                    source      : 'youtube',
                    id          : vids[0]
                });
                $('.lessonVideos').click(function(){
                    var name = this.id.split(',')[0];
                    
                    setupLessonQuestions(name);
                    var id = this.id.split(',')[1];

                    $('#videoPlayerContainer').html('<div id="videoPlayer" class="ui embed"></div>')
                    $('#videoPlayer').embed({
                        source      : 'youtube',
                        id          : id
                    });
                });
                io.socket.get('/profile', function serverResponded (body, sailsResponseObject) {
                    console.log(body);
                });
                io.socket.on('profile', function (event){
                  
                    var className ='StudentStatus'+event.id;
                    $("."+className).html('<i style="height:10px; width:10px; border-radius: 50%; background-color:green;" class="icon"></i> '+ event.data.status);

                    // => see below
                });// Handler for .ready() called.

                $(".udpateStatus").click(function(){

                    var url1 = baseURL+"/updateStatus"; // the script where you handle the form input.

                    $.ajax({
                        type: "POST",
                        url: url1,
                        data: 'status=Watching '+this.id.split(',')[0], // serializes the form's elements.
                        success: function(data)
                        {

                        }
                    });


                });
                $("#SendMessage").click(function(){

                    var url1 = baseURL+"/message"; // the script where you handle the form input.

                    $.ajax({
                        type: "POST",
                        url: url1,
                        data: 'message='+$('#message').val(), // serializes the form's elements.
                        success: function(data)
                        {

                        }
                    });
                    $('#message').val('');


                });
                
                $("#message").keyup(function(event) {
                    if (event.keyCode === 13) {
                        $("#SendMessage").click();
                    }
                });
                
                $( "#syllabus" ).click(function() {
                    $('#syllabusPopup').modal('show');
                });
                
                  $('#profileButton').click(function(e) {
                        e.preventDefault();
                        $('#profileModal') .modal({
                            closable  : false,
                            onDeny    : function(){
                                // I would like to have this function run when the user
                                // clicks the close icon
                                return false;
                            },
                            onApprove : function() {
                            }
                        }).modal('show').css('0.5rem auto !important;');
                    });
                
                 $('.showProfile')
                  .popup({
                    popup : $('.custom.popup'),
                    on    : 'click' 
                  });
                
                
                    $('#profileButton').click(function(e) {
                        e.preventDefault();
                        $('#profileModal') .modal({
                            closable  : false,
                            onDeny    : function(){
                                // I would like to have this function run when the user
                                // clicks the close icon
                                return false;
                            },
                            onApprove : function() {
                            }
                        }).modal('show').css('0.5rem auto !important;');
                    });
                  $('#newPostButton').click(function(e) {
                        e.preventDefault();
                        $('#newPostModal').modal('show').css('0.5rem auto !important;');
                    });
                 $('#newCommentButton').click(function(e) {
                     
                        e.preventDefault();
                        $('#newCommentModal').modal('show').css('0.5rem auto !important;');
                    });
                    
                $( "#saveProfile" ).click(function(e) {
                    var url2 = baseURL+"/saveprofile"; // the script where you handle the form input.

                    $.ajax({
                        type: "POST",
                        url: url2,
                        data: $("#profileForm").serialize(), // serializes the form's elements.
                        success: function(data)
                        {

                        }
                    });

                    e.preventDefault(); // avoid to execute the actual submit of the form.
                }); 
                 $( "#saveThread" ).click(function(e) {
                    var url2 =baseURL+ "/newThread"; // the script where you handle the form input.
                     
                    $.ajax({
                        type: "POST",
                        url: url2,
                        data: $("#threadForm").serialize(), // serializes the form's elements.
                        success: function(data)
                        {

                        }
                    });
                    $("#threadForm").find("input[type=text], textarea").val("");
                     $('#threadForm').find("select").prop('selectedIndex',0)
                    e.preventDefault(); // avoid to execute the actual submit of the form.
                }); 
                  $( "#saveComment" ).click(function(e) {
                    var url2 = baseURL+"/newComment"; // the script where you handle the form input.
                   
                    $.ajax({
                        type: "POST",
                        url: url2,
                        data: $("#commentForm").serialize(), // serializes the form's elements.
                        success: function(data)
                        {

                        }
                    });
                    $("#commentForm").find("input[type=text], textarea").val("");
                     $('#commentForm').find("select").prop('selectedIndex',0)
                    e.preventDefault(); // avoid to execute the actual submit of the form.
                }); 
                
                document.getElementById("logout").onclick = function () {
                        document.location = "/logout";
                    };
                
                var profileEmpty = <%= userProfile.firstLogin %>;

                if(profileEmpty==1){
                    $('#profileModal') .modal({
                        closable  : false,
                        onDeny    : function(){
                            // I would like to have this function run when the user
                            // clicks the close icon
                            return false;
                        },
                        onApprove : function() {
                        }
                    }).modal('show').css('0.5rem auto !important;');
                }
                
              
                io.socket.get('/thread', function serverResponded (body, sailsResponseObject) {
                    
                    body.sort(function(a, b){
                       
                        var keyA = new Date(a.datePosted),
                            keyB = new Date(b.datePosted);
                       
                        // Compare the 2 dates
                        if(keyA < keyB) return -1;
                        if(keyA > keyB) return 1;
                        return 0;});
                 
                    for(var i=1; i<=body.length;i++){
                        var thread = body[i-1];
                        threads["thread"+thread.id]=thread;
                        addThread(thread);
                    }
    
                });
              
                io.socket.on('thread', function (event){
                  addThread(event.data);
                });
                 io.socket.get('/comment', function serverResponded (body, sailsResponseObject) {
                     console.log(body);
                 });
                io.socket.on('comment', function (event){
                    
                  addComment(event.data);
                });
            
                function addThread(thread){
                     var userProfile = thread.profile;
                    var threadName = "thread"+thread.id;
                        $("#forumFeed").prepend(
                            '<div id="thread'+thread.id+'" onclick="setupThreadComments(\''+threadName+'\')" class="event clickEvent" style="border-bottom:1px black;"><div class="label"><img style="background-color:#009B77;" class="ui showProfile avatar image" src="images/profile/'+userProfile.profilePic+'.png"></div><div class="content" style=""><div class="date">'+thread.datePosted+'</div><div class="summary" style="padding-bottom:3px;"><a class="showProfile">'+userProfile.firstName+' '+userProfile.lastName+'</a> <div class="meta" ><a id="StudentStatus" class="comment date StudentStatus'+userProfile.id+'"><i style="height:10px; width:10px; border-radius: 50%; background-color:green;" class="icon"></i>'+userProfile.status+'</a></div></div><div class="text">'+thread.summary+'</div><div class="meta"><span class=""><i class="comments icon"></i> '+thread.comments.length+' Comments</span><span class="" onclick="addFoundHelpful('+thread.id+');event.stopPropagation();"><i class="star icon"></i> '+thread.foundHelpful+' found this helpful</span></div></div></div><div class="ui inverted divider" style="padding:0px;margin:0px;"></div> '
                        );
              
                }
                $('#furombackbutton').click(function(e){
                    toggleForum();
                });
                
            });
    
    
        </script>